@model Ecommerce.ViewModels.ChangePasswordViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Đổi mật khẩu";
}

<form asp-action="ChangePassword" method="post" class="account-form">

    <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Nhập email" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" placeholder="Nhập mật khẩu mới" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Xác nhận mật khẩu mới" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    <a asp-controller="Account" asp-action="VerifyEmail" class="account-link">
        Về trang đăng nhập
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}